body {
	font-family: 'Titillium Web', sans-serif;
}
h1{
	font-size: 30px;
}
h2, h4 {
	text-transform: uppercase;
}

h3 {
	font-weight: normal;
	font-size: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #643a79;
}
.nav-pills li:hover a {
    border: 1px solid #643a79;
    padding: 5px 20px;
    background: #643a79;
    border-radius: 3px;
    color: #fff;
}
.nav-pills a.active {
    border: 1px solid #643a79;
    padding: 5px 20px;
    background: #643a79;
    border-radius: 3px;
    color: #fff;
}
.nav-pills li {
	padding: 0 15px;
}

.line {
	padding-top: 20px;
	padding-bottom: 20px;
}

.services, .team, .skills {
	padding-top: 115px;
	padding-bottom: 125px;
}

.services h3, .team h3, .skills h3 {
	padding-bottom: 80px;
}

ul{
	padding-left: 0;
}

li {
	list-style: none;
	display: inline-block;
}
a:hover{
	text-decoration: none;
}

/*welcome*/
header {
	background: #87509c;
	padding-top: 60px;
	padding-bottom: 140px;
	color: #fff !important;
}
header a{
	color: #fff;
}
.navbar {
	padding-top: 40px;
}
.welcome {
	padding-top: 140px;
}
.welcome .big-btn {
	border: 1px solid #eb7d4b;;
	padding: 20px 80px;
	display: inline-block;
	margin-top: 60px;
	background: #eb7d4b;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
}

/*end of welcome*/


/*services*/
.services {
	background: #17c2a4;
	color: #fff;
}
.services h4 {
	padding-top: 50px;
	padding-bottom: 25px;
}
/*end of services*/

/*team*/
.team {
	background: #e7f1f8;
	color: #3c4761;
}
.team h4{
	padding-top: 40px;
	padding-bottom: 15px;
}
.team span {
	color: #48c1e9;
}
.team p {
	padding-top: 30px;
}
/*end of team*/

/*skills*/
.skills {
	background: #fff;
	color: #3c4761;
}
.skills h4{
	padding-top: 30px;
}
/*end of skills*/

/*portfolio*/
.portfolio {
	padding-top: 115px;
	padding-bottom: 105px;
	background: #ffdd99;
	color: #393939;
}
.portfolio ul {
	padding-top: 40px;
}
.portfolio ul li {
	width: 84px;
    height: 36px;
	border: 1px solid #ebc985;
	background: #ebc985;
	border-radius: 3px;
	padding: 5px;
}
.portfolio ul li a {
	color: #393939;
	text-transform: uppercase;
}
.portfolio .col-md-6 img {
	padding-top: 60px;
	padding-bottom: 30px;
}
.portfolio .btn {
	padding-top: 80px;
}
.big-btn2 {
	border: 1px solid #17c2a4;
	padding: 20px 62px;
	display: inline-block;
	background: #17c2a4;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
/*end of portfolio*/

/*about*/
.about-us {
	padding-top: 115px;
	padding-bottom: 125px;
	background: #d74680;
	color: #fff;
}
.about-us .testimonials img {
	float: left;
	margin-right: 40px;
}
.about-us p {
	font-style: italic;
}
.about-us .text {
	width: 450px;
}
.about-us span {
    margin-left: 140px;
    color: #ffdd99;
}
.about-us .col-md-6 {
	padding-top: 80px;
	padding-bottom: 150px;
}

/*end of about*/

/*touch*/
.touch {
	padding: 115px 0;
	background: #3c5499;
	color: #fff;
}
.touch form {
	padding-top: 70px;
	padding-bottom: 60px;
}
.touch input {
	width: 410px;
	height: 56px;
	border-radius: 3px;
	margin-bottom: 25px;
	margin-left: 20px;
	margin-right: 15px;
}
.touch textarea {
	width: 860px;
	height: 200px;
	border-radius: 3px;
}
/*end of touch*/

/*footer*/
footer {
	padding-top: 45px;
	padding-bottom: 40px;
	background: #344b8e;
}
footer a {
	color: #fff;
	font-weight: bold;
}
footer li {
	padding: 0 25px;
}
/*end of footer*/

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
  
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){

}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .portfolio img{
      	width: 300px;
  	}
  	.about-us .text{
  		float: left;
  		margin-top: 10px;
  		width: 100%;
  	}
  	.about-us span{
  		margin-left: 0;
  	}
  	.about-us .col-md-6 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.touch input {
		width: 300px;
		height: 56px;
	}
	.touch textarea {
		width: 300px;
		height: 100px;
	}
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    .touch input {
		width: 100px;
		height: 56px;
	}
	.touch textarea {
		width: 100px;
		height: 80px;
	}
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    .touch input {
		width: 100px;
		height: 56px;
	}
	.touch textarea {
		width: 100px;
		height: 80px;
	}
}